body {
    font-family: "helvetica", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(26, 33, 44);
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: rgb(155, 202, 142);
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.dropdown-section {
    background-color: rgb(35,38,50);
    padding: 20px;
    margin: 10px;
    color: rgb(155, 202, 142);
    border: 1px solid black;
}

h2 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.chart-section {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

canvas {
    border: 1px solid #ddd;
}

.dropdown-section select,
.dropdown-section button {
    margin-top: 10px;
}

#graphContainer {
    width: auto;
    margin: 0 auto;
}

#updateResultsButton {
    margin-bottom: 10px;
    position: relative;
    top: 0;
    left: 0;
}